

body {
    color: #818181 !important;
}
.pre-header {
    width: 100%; 
    background: #d01f39;
}
.pre-header .textwidget p {
    font-size:14px;
    margin-top:4px;
}
.pre-header .textwidget a {
    color: #fff !important;
}
.pre-header a:hover {
    color: #000 !important;
}
@media only screen and (max-width: 600px){
        .social-hide {
            display: none;
        }
}
.portfolio_title {
    pointer-events:none !important;
}
.content {
background: none !important;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post_info, .post_infos {
display: none !important;
}